::-webkit-scrollbar{
    width: 12px;
    height: 7px;
    padding: 2px;
    transition: all .7s ease-in-out;
}
::-webkit-scrollbar-track{
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 38px;
    transition: all .7s ease-in-out;

    height: 5px;
}
::-webkit-scrollbar-thumb{
    background: #777;
    border-width: 9px;
    border-radius: 250px;
    transition: all .7s ease-in-out;
    height: 2px;
    cursor: all-scroll;
}
::-webkit-scrollbar-thumb:hover{
    background: #000;
    cursor: move;
}


body{
    background: linear-gradient(92deg, #d5dee9, #f0f2f3);
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* navbar */
.navbar{
    padding: 2px 0 2px 0;
    display: flex;
  justify-content: space-evenly;
    position: fixed;
    top: 0;
    border: 1px solid #000;
    background-color: #000;
    width: 100%;
    height: 49px;
    z-index: 2;
    overflow: hidden;
    color: #FFF;
    font-size: 20px;


}

.navbar .navbar_title{
    padding-top: 10px;
    margin-left: -85px;
    font-size: 25px;
   
}
.serachbar {
    padding: 10px;
}
.serachbar input{
    border: 1px solid #FFF;
    border-radius: 25px ;
    width: 200px;
    height: 30px;
    background-color: #fff;
    font-size: 20px;
    color: rgb(235, 235, 235);
   z-index: 1;
}
.navbar .profile img{
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;


}
.profile_Detile{
    display: none;
    box-shadow: 0px 5px 5px 2px #666;
    opacity: .3;
}
.profile_Detile.active{
    display: flex;
    position: fixed;
    top: 68px;
    right: 13%;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    color: #FFF;
    width: 350px ;
    height: 365px;
    background-color: #000;
    opacity: .9;
    line-height: 50px;
    box-shadow: 0px 5px 5px 2px #666;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
    opacity: 1;
    transition: opacity .7s ease-in-out;
}
.profile_Detile.active .profile_titel{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #fff;
    font-size:35px;
}
.profile_Detile.active li{
    font-size:20px ;
    list-style-type: none;

}
.profile_Detile.active li a{
    list-style-type: none;
    color: #fff;
    cursor: pointer;
}
.profile_Detile.active .profile_titel button{
    border: none;
    padding: 5px;
    width: 35px;
    height: 35px;
    background-color: rgb(221, 69, 69);
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;

}
.profile_Detile.active button {
    padding: 2px;
    border: 4px solid #030c22;
    width: 250px;
    height: 30px;
    font-size: 18px;
    background-color: #FFF;
    color: #030c22;
    cursor: pointer;
}
.uplode_Profile_picture{
    display: none;
}
.uplode_Profile_picture.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    padding: 8px;
    color: #fff;
    font-size: 45px;
    z-index: 5;
    opacity: .7;
   
}
.uplode_Profile_picture.active .card_Header{
    color: #d5dee9;
    border-bottom: 1px solid #fff;
    font-size: 55px;
}
.uplode_Profile_picture.active .card_Header button #cancel{
    justify-content: space-between;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(202, 52, 52);
}
.uplode_Profile_picture.active input::-webkit-file-upload-button{
    border-radius: 0px;
    width: 95px;
    height: 55px;
    border-color: transparent #000 transparent transparent;
   background-color: #d9dfe4;
    color: #030c22;
    font-size: medium;
 }
 .uplode_Profile_picture.active input::-webkit-file-upload-button:hover{
     cursor: pointer;
 }
 .uplode_Profile_picture.active .card-body input{
    cursor: pointer;
    text-align: center;
    font-size: 21px;
     border:1px solid #fff;
     border-radius: 4px;
     width: 550px;
     height: 50px;
 }
 .uplode_Profile_picture button{
    align-content: center;
    border: 1px solid #000;
    color: #000207;
    width: 155px;
    height: 35px;
    border-radius: 5px;
    background-color:#fff;
    cursor: pointer;
    box-shadow: 0px 0px 0px 1px #FFF,
                0px 0px 0px 25px #FFF,
                0px 0px 0px 50px #FFF,
                0px 0px 0px 100px #FFF,;
 }

/* navbar */


.dashborde{
    display: flex;
    padding: 8px 2px 0;
    border: 1px solid transparent;
    position: relative;
    left: 3%;
    top: 130px;
    width: 1180px;
    height: auto;
    justify-content: space-between;
}
.recent{
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 25px;
    box-shadow: 0px 1px 4px 8px rgb(34, 33, 33);
    background-color: rgb(250, 245, 245);
    width: 1990px ;
    height: auto;
    z-index: .5;
    overflow: hidden;
    transition: height .8s ease-in-out;
    filter: drop-shadow(3px 3px 5px black);
}
.Recent_titel{
    text-align: center;
    margin: -10px 0;
    padding: 15px 0;
    font-size: 30px;
    background-color: transparent;
    color: #04366b;
    font-family: Arial, Helvetica, sans-serif;
}
.alertMes{
    border: 1px solid red;
    border-radius: 4px;
    color: red;
    font-size: 17px;
}
.Model_1{
   
    border: 1px solid rgb(189, 188, 188);
    border-radius: 5px;
    width: auto;
    min-width: 500px;
    height: 58px;
    transition: all .7s ease-in-out,
              opacity .9s ease-in-out;

}
.ModelHeader{
    display: flex;
    justify-content: space-between;
    padding: 10px ;
    background-color: #666;
    color: white;
    font-size: 29px;
}

.Model_1 button{
    width: 30px;
    height: 30px ;
    border-radius: 50%;
    font-size: 20px;
    color: #000;
    cursor: pointer;
   

}
.Model_1.active{
    height: 708px;
    width: 1195px;
}
.Model1_List{
    display: none;
    opacity: .5;
   
}
.Model_1.active .Model1_List{
    display: block;
    opacity: 1;
    justify-content: space-evenly;
    transition: height .3s ease-in-out,
               opacity .9s ease-in-out;
    z-index: 1;           
   
}
.Model_1.active .Model1_List .Model1_List_Header_conteiner{
   display: flex; 
   justify-content: space-evenly;
   font-size: 20px;
   border-bottom: 1px solid #666;
   
}
.Model_1.active .model1_List_Titel{
    text-align: center;
    font-size: 22px;
    color: #030c22;
    font-family: Arial, Helvetica, sans-serif;
}
.Model_1.active .Model1_List .model1_List_body_Contontiner{
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    font-size: 19px;
}
.Model_1.active .Model1_List .model1_List_body_Contontiner .Mode1_List_body_left1{
    padding: 0 15px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    height: 300px;
}
.Model_1.active .Model1_List .model1_List_body_Contontiner .Mode1_List_body_left2{
    padding: 0 15px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    height: 300px;
}
.Model_1.active .Model1_List .model1_List_body_Contontiner .Mode1_List_body_center1{
    padding: 0 15px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    height: 300px;
}
.Model_1.active .Model1_List .model1_List_body_Contontiner .Mode1_List_body_center2{
    padding: 0 15px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    height: 300px;
}
.Model_1.active .Model1_List .model1_List_body_Contontiner .Mode1_List_body_center3{
    padding: 0 15px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    height: 300px;
}
.Model_1.active .Model1_List .model1_List_body_Contontiner .Mode1_List_body_center4{
    padding: 0 15px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    height: 300px;
}
.Model_1.active .Model1_List .model1_List_body_Contontiner .Mode1_List_body_center5{
    padding: 0 15px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    height: 300px;
}
.Model_1.active .Model1_List .model1_List_body_Contontiner .Mode1_List_body_rigth1{
    padding: 0 15px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    height: 300px;
}
.Model_1.active .Model1_List .model1_List_body_Contontiner .Mode1_List_body_rigth2{
    padding: 0 15px;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    height: 300px;
}
.Model_1.active .Model1_List .model1_List_footer_Contontiner{
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    line-height: 35px;
}


/* Model 19*/

.Model_19{
    display: block;
    transition: all .8s ease-in-out;
}
.Model_19 .model19_body{
display: none;
opacity: .2;
}
.Model_19.active{
    border: 1px solid rgb(233, 230, 230);
    height: auto;
    display: block;
    opacity: 1;
    transition: all .8s ease-in-out;
   
}
.Model_19.active .model19_body{
    display: block;
   padding: 10px;
    justify-content: center;
    line-height: 29px;
    opacity: 1;
    transition: height .8s ease-in-out ,
               opacity .8s ease-in-out ;
}
.ModelHeader button{
    width: 30px;
    height: 30px;
    font-size: large;
    border-radius: 50%;
    cursor: pointer;
}
.Model_19.active .model19_body .Model19_Body_titel{
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
    font-size: 22px;
    color: #030c22;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    transition: height .4s ease-in-out ,
               opacity .8s ease-in-out ;
    
}
.Model_19.active .model19_body .Model19_body_Header{
    display: flex;
    justify-content: space-between;
    padding: 10px ;
    margin: 2px 5px 8px 5px;
    border-bottom: 1px solid rgb(230, 227, 227);
    color: #888;
    font-size: 18px;
    opacity: 1;
    transition: height .4s ease-in-out ,
               opacity .8s ease-in-out ;
}
.Model_19.active .model19_body .Model19_body_Header{
    border: none;
    border-bottom:1px solid #bbbcc0;
    background-color: transparent;
    opacity: 1;
    transition: height .4s ease-in-out ,
               opacity .8s ease-in-out ;
}
.Model_19.active .model19_body .Model19_body_Top{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 5px;
    font-size: 18px;
    color: #888;
    opacity: 1;
    transition: height .4s ease-in-out ,
               opacity .8s ease-in-out ;
   
}
.Model_19.active .model19_body .Model19_body_center{
    display: flex;
    justify-content: space-around;
    color: #888;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    transition: height .4s ease-in-out ,
               opacity .8s ease-in-out ;

}
.Model_19.active .model19_body .Model19_body_center input{
    border: 1px solid #888;
    color: #030c22;
    border-radius: 8px;
    width: 100px;
    height: 25px;
    opacity: 1;
    transition: height .4s ease-in-out ,
               opacity .8s ease-in-out ;
}
.Model_19.active .model19_body .Model19_body_Footer{
    display: flex;
    justify-content: space-around;
    color: #888;
    border-Top: 1px solid #999;
    font-size: 18px;
    opacity: 1;
    transition: height .4s ease-in-out ,
               opacity .8s ease-in-out ;
}


input[type="text"] {
     border: none; border-bottom:1px solid #2f01ff;background-color: transparent;
}

input[type="date"] {
    border: 1px solid #777;
    color: #777;
    height: auto;
    width: 120px;
    font-size: 15px;
    border-radius: 8px;
    padding: 2px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="checkbox"] {
   border: 1px solid #030c22;
   width: 30px;
   height: 15px;
   cursor: pointer;
}
select{
    width: 125px;
    height: 29px;
    font-size: 15px;
    border-radius: 9px;
    color: #030c22;
     text-align: center;
     border: 1px solid #888;
}



